Actividad de Modelos.json
{
  "name": "Actividad de Modelos",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        0
      ],
      "id": "4416484b-27aa-4ffa-af3e-d9744586a5df",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "http://ollama:11434/api/ps",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        0
      ],
      "id": "8e121f34-dd88-4a4e-8a04-db0eda94c20e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "http://ollama:11434/api/tags",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        176
      ],
      "id": "1454ab07-189c-4332-b0d8-d0de6cc485b2",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "let results = [];\n\nconst modelsData = items[0].json.models;\n\nfor (const item of modelsData) {\n    results.push({\n        json: {\n            model: item.model,\n            expires_at: item.expires_at ?? null\n        }\n    });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "eab8e52f-e9a5-4cc1-8c92-d875e74ea7fd",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{ new Date().getTime() }}",
        "endDate": "={{ $json.formattedDate }}",
        "units": [
          "minute"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        816,
        80
      ],
      "id": "e309db85-a3ef-4c92-8e68-ced9ad21f68b",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.expires_at }}",
        "format": "X",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        624,
        80
      ],
      "id": "9a8805e1-dfd5-4c85-9dcd-bdc7e5094af0",
      "name": "Expira en"
    },
    {
      "parameters": {
        "jsCode": "let results = [];\n\nconst modelsData = items[0].json.models;\n\nfor (const item of modelsData) {\n    results.push({\n        json: {\n            model: item.model\n        }\n    });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        176
      ],
      "id": "f2c3af85-c930-4714-96c9-bf101c9478eb",
      "name": "Code1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "27a3c808-68dc-4dd5-b2a8-0b4021a35d35",
              "leftValue": "={{ $json.timeDifference.minutes }}",
              "rightValue": 1.5,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1024,
        80
      ],
      "id": "da246677-0929-4dad-8c66-e3027ff867de",
      "name": "If",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $('Code').item.json.model }}\",\n  \"prompt\": \"Hola\",\n  \"stream\": false,\n  \"keep_alive\": \"20m\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1248,
        80
      ],
      "id": "44ff607d-471c-41ea-a3e0-d718582884c2",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "model",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        432,
        80
      ],
      "id": "a4cd6e32-494a-4621-a391-c9a4898f0116",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expira en": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Expira en",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f483fd02-c75c-46e7-9306-83aa2b988df3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "530064e1f9e74f7f94f7149336eef00a085cd09d50aaa6995926e2cc912025d3"
  },
  "id": "1VfjJ1uVMrPqHj3p",
  "tags": []
}